.discover{
    
    background-color: black;
    color: white;
    

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    .movie_list{
        padding: 3rem 3rem 3rem 3rem;    
}

.list_card{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}
}